.container{
    width:70%;
    margin: auto;
    text-align: center;
}
.dice{
    text-align: center;
    display: inline-block;
    padding: 40px;
}
body{
    background-color: rgb(135, 181, 222);
}
h2
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:25px;
    padding-bottom: 20px;
    color: rgb(209, 69, 234);
}
h1{
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #2d343c;
    font-size: 55px;
    color: #4cc69d;
}
h3{
    font-family:cursive;
    font-size: 30px;
    color: rgb(14, 43, 225);
}
img
{
    width: 250px;
}